## A notebook to visualize KGs and the ontologies they use using Gephi

In [95]:
# install and import libraries
%pip install pandas numpy

import pandas as pd
import numpy as np

Requirement already satisfied: pandas in c:\users\abueckle\documents\github\hra-kg-supporting-information\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\abueckle\documents\github\hra-kg-supporting-information\.venv\lib\site-packages (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\abueckle\documents\github\hra-kg-supporting-information\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\abueckle\documents\github\hra-kg-supporting-information\.venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\abueckle\documents\github\hra-kg-supporting-information\.venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\abueckle\documents\github\hra-kg-supporting-information\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [96]:
# load data
url = "https://docs.google.com/spreadsheets/d/1oiiRew9waUj5ze-yDdNByUNiAzlkQ8w-5QMRdQWleDo/export?format=csv"
df_original = pd.read_csv(url)
df_original.columns = ['Source', 'Target']
df_original

        Source                                            Target
0       HRA KG                                               CCF
1       HRA KG                                                CL
2       HRA KG                                               FMA
3       HRA KG                                              HGNC
4       HRA KG                                             HRAVS
..         ...                                               ...
415  Ubergraph  Zebrafish anatomy and development ontology (ZFA)
416  Ubergraph               Ascomycete phenotype ontology (APO)
417  Ubergraph               Mouse Developmental Stages (MmusDV)
418  Ubergraph                   Vertebrate Breed Ontology (VBO)
419  Ubergraph                Units of Measurement Ontology (UO)

[420 rows x 2 columns]

## Create node list

In [97]:
# process Google Sheet into CSVs for nodes and edges 
nodes = set()

# Get unique values for each column
unique_values = {col: df_original[col].unique() for col in df_original.columns}

# Print results
for col, values in unique_values.items():
  for v in [v for v in values]:
   nodes.add(v)

# convert to df
df_nodes = pd.DataFrame(list(nodes), columns=["Label"])
df_nodes['Type'] = np.where(df_nodes['Label'].isin(
    df_original['Source']), "KG", "Ontology")

# create id and label cols
df_nodes['ID'] = df_nodes['Label'].copy()

# export to CSV
df_nodes.to_csv('output/nodes.csv', index=False)
df_nodes

         Label      Type         ID
0     GLYCORDF  Ontology   GLYCORDF
1      PREDICT  Ontology    PREDICT
2       CDCREC  Ontology     CDCREC
3      TISSUES  Ontology    TISSUES
4    LabeledIn  Ontology  LabeledIn
..         ...       ...        ...
256        ALT  Ontology        ALT
257    NANDA-I  Ontology    NANDA-I
258    MOTRPAC  Ontology    MOTRPAC
259  ICPC2EENG  Ontology  ICPC2EENG
260        RCD  Ontology        RCD

[261 rows x 3 columns]

## Create edge list

In [98]:
df_original.to_csv('output/edges.csv', index=False)